In [1]:
#Pandas Series Exercises

In [2]:
## Exercises Part I\n

In [3]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
#1.Determine the number of elements in fruits.

fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple",
          "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", 
          "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [6]:
fruits = pd.Series(fruits)

len(fruits)

17

In [7]:
#2. Output only the index from fruits.
list(fruits.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [8]:
#3.Output only the values from fruits.
pd.DataFrame(fruits)

                   0
0               kiwi
1              mango
2         strawberry
3          pineapple
4         gala apple
5   honeycrisp apple
6             tomato
7         watermelon
8           honeydew
9               kiwi
10              kiwi
11              kiwi
12             mango
13         blueberry
14        blackberry
15        gooseberry
16            papaya

In [9]:
#4.Confirm the data type of the values in fruits.
type(fruits)

pandas.core.series.Series

In [10]:
#5.Output only the first five values from fruits.
fruits.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [11]:
#Output the last three values.
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [12]:
#Output two random values from fruits.
np.random.choice(fruits, size = 2)

array(['kiwi', 'kiwi'], dtype=object)

In [13]:
#6.Run the .describe() on fruits to see what information it returns when called on a Series with string values
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [14]:
#7.Run the code necessary to produce only the unique string values from fruits.
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [15]:
#8.Determine how many times each unique string value occurs in fruits.
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [16]:
#9.Determine the string value that occurs most frequently in fruits.
fruits.mode()

0    kiwi
dtype: object

In [17]:
#10.Determine the string value that occurs least frequently in fruits.
fruits.min()

'blackberry'